#titlebar {
  -webkit-app-region: drag;
  user-select: none;
  position: fixed;
  top: 0;
  height: 32px;
  width: 100%;
}

.pushable {
  background: #0c1b33;
  border: none;
  border-radius: 12px;
  padding: 0;
  cursor: pointer;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: #7a306c;
  color: #fdf7fa;
  transform: translateY(-8px);
}

.pushable:is(:disabled, :focus) .front {
  transform: translateY(-2px);
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

.front {
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover .front {
  transform: translateY(-14px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:is(:disabled, :focus) .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.off {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}
